.loginForm {
    width: 800px;
    background-color: #333;
    margin: 10px auto;
}
.loginForm .hugeLogo{
    width: 200px;
    height: 200px;
    padding: 20px 10px;
    display: flex;
    position: relative;
    margin: 0 200px;
}

.loginForm .hugeLogo h2{
    font-size: 40px;
}
.hugeLogo .hugeLogo h2 span{
    color: #FFA7F4;
}
.loginForm form{
    display: flex;
    flex-direction: column;
} 