.newsContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto 40px auto;
    padding-bottom: 20px;
}

.newsCard {
    width: calc(94% / 3);
    min-height: 400px;
    padding: 10px 10px;
    position: relative;
    font-weight: 300;
}

.newsCard img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.newsCard h1 {
    font-size: 25px;
}

.newsCard p {
    position: absolute;
    bottom: 0;
    font-style: italic;
    font-size: small;
    color: #999;
}