body {
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Calibri
  }
  
  nav {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  .logo img {
    height: 50px;
    width: auto;
  }
  .icons img{
    height: 40px;
  }

  
  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  li {
    font-size: larger;
    padding: 0 20px;
    letter-spacing: 2px;
  }
  
  a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  a:hover {
    color: #FFA7F4;
  }
  
  .search input {
    padding: 8px;
    border-radius: 30px;
    width: 300px;
    border: none;
    margin-right: 10px;
    background-color: #222;
  }

  .search input:focus {
    border: 1.5px solid #FFA7F4;
    outline: none; 
  }
  .search input::placeholder{
    font-weight: 600;
  }
  
  .icons a {
    margin-left: 10px;
  }

  footer div{
    position: absolute;
    bottom: 0;
    color: #fff;
    background-color: #333;
    width: 100%;
  }
  footer div p{
    padding:0 20px;
    font-weight: 400;
  }

  .main{
    width: 95%;
    margin: 20px auto;
    background-color: #333;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 500;
  }

  .main p{
    padding: 0 5px;
    font-weight: 600;
  }

  .league {
    margin: 20px 0 10px 0;
  }

  .matchesAndTable{
    display: flex;
    justify-content: space-between;
  }

  .leagueHeader{
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: #444;
    border-radius: 20px 20px 0 0 ;
  }
  .leagueHeader .leagueicone, .league .matchesAndTable .matchDay .matchesTable img, .leagueTable img {
    width: 25px;
    height: 25px;
  }

  .league .matchesAndTable .matchDay .matchesTable{
    margin: 10px 0 0 40px;
  }
  .league .matchesAndTable .matchDay .matchesTable td{
    padding: 13px 10px;
  }
  .league .matchesAndTable .matchDay .matchesTable td:first-child{
    text-align: right;
  }

  .clubName{
    width: 150px;
  }

  .leagueTable{
    margin: 10px 50px 10px 0 ;
  }

  .leagueTable tr td{
    padding: 5px 15px 5px 30px;
  }
  .leagueTable tr td:first-child{
    text-align: right;
    padding: 0;
  }





